/*
        This File made by me ("Ahmed Saeed")
        Web and developer for the web lives in Cairo, Egypt
        E-Mail: mr.ahmedsaeed1@gmail.com
        Tel: (02) 01228652007
*/
/*## Table of Content  ## ==================
===========================================================================
# 1- Booling google fonts from google server ( Open Sans, Sanchez )
============================================================================
# 2- General styling and reset mstyling
===========================================================================
# 3- Header styling 
============================================================================
# 4- footer styling 
==============================================================================
# 5- element styling
=============================================================================
# 6- side panel styling
============================================================================
# 7- Media qauery styling for this file
=================================================================================*/



/* # 1- pull open sans & sanchez fonts from gooogle server
=================================================================================*/
@import url(http://fonts.googleapis.com/css?family=Sanchez:400italic,400|Open+Sans:400italic,600italic,700italic,400,600);
/*
font-family: 'Sanchez', serif;
font-family: 'Open Sans', sans-serif;
*/

/*# 2- reset styling and general styling
===================================================================================*/
/*=========== body =============*/
body {
    color:#777;
    font-size: 12px;
    line-height:auto;
    font-family: 'Open Sans', Tahoma, Arial sans-serif;
    font-style: normal;
    font-weight: normal;
    /*background:#fff;*/
    background: url("img/backgrounds/flowers.jpg") repeat scroll left top  ;
}
/*==== heading ====*/
h1, h2, h3, h4, h5, h6 {
    margin:0; padding:0;
    color:#404040;
    font-family: 'Sanchez', serif;
    font-weight: 400;
}
h1 { font-size: 18px; text-transform: uppercase; line-height:26px; }
h2 { font-size: 16px; text-transform: uppercase; line-height:22px; }
h3 { font-size:14px; text-transform: uppercase; line-height:22px; }
h4 { font-size: 14px; line-height: 20px; }
h5 { font-size: 13px; line-height: 20px; }
h6 { font-size: 12px; line-height: 18px; }

/*===== title header h3 =========*/
#shopfine_featured { margin-left:2%;}
#shopfine_featured .titleHeader {
    background: url('../img/dottedBorder.png') repeat-x 50% 99%;
	*background: url('../img/dottedBorder.png') repeat-x 50% 26px !important;
	*height:30px !important;
	
}
.titleHeader {
    background: url('../img/dottedBorder.png') repeat-x 50% 78%;

}
.titleHeader h2 {
    float:left;
    background:#fff;
    padding-right:8px;
	*margin:0 !important; 
	*padding:0 !important;
	*display:inline !important;
	
}
.titleHeader .pagers {
    float:right;
    background:#fff;
    padding-left:8px;
	*display:inline !important;
}

/*=============== clearfix ===========*/

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    margin:0;
    padding:0;
    height:0;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

/*============= Global ancher link color style ==========*/
a {
    color:#f16325;
}
a:hover, a:active {
    color:#f16325;
    text-decoration:underline;
}
a.invarseColor:link, a.invarseColor:visited {
    color:#666;
}
a.invarseColor:hover, a.invarseColor:active {
    color:#f16325;
    text-decoration:none;
}
a.active:link, a.active:visited {
    color:#f16325;
    cursor:default;
}

/*=========== placeholder ============*/
/* for old firfox */
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #666;
    font-family: 'Open Sans', Arial sans-serif;
    font-size: 10px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
    font-family: 'Open Sans', Arial sans-serif;
    font-size: 10px;
}
/* IE 10 */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999999;
    font-family: 'Open Sans', Arial sans-serif;
    font-size: 10px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999999;
    font-family: 'Open Sans', Arial sans-serif;
    font-size: 10px;
}
.placeholder {
    color: #999999;
    font-family: 'Open Sans', Arial sans-serif;
    font-size: 10px;
}

iframe {
    width:100%;
    border:none;
}

/*====== mainContainer ======*/
#mainContainer {
    width:100%;
	*width:1024px;
    display: block;
    margin:0 auto;
    background:#fff;
}
/*== block styling ==*/
#featuredItems, #latestItems, #aboutUs, #twitterFeed, #facebookFeed, #brands {
    margin-top:72px;
}


/*# 3- Header styling 
============================================================================*/
/*====== header style ======*/
header {
    margin-bottom:0px;
    padding:5px 0 8px;
    width:100%;
}
header p {
    line-height: 14px;
}
/* upperHeader */
.upperHeader {
    /*padding-top:4px;*/
    border-bottom:1px solid #eaeaea;
}
.upperHeader select.upper-nav {
    display: none;
}
.upperHeader .inline {
    margin:-2px 0 0 0;
    padding:0;
}
.upperHeader .inline li {
    margin:0 0 0 5px;
    padding:0;
}
.upperHeader .inline li a {
    font-size:11px;
    line-height: 12px;
}
.upperHeader > p, header p {
    font-size:11px; 
}
/* middleHeader */
.middleHeader .middleContainer {
    padding:28px 0 25px;
    /*background: url('../img/map.png') no-repeat 12% 22%;*/
}
/* logo */
.middleHeader .siteLogo {
    float:left;
}
.middleHeader .siteLogo a {
    /*width:534px;*/
    height:54px;
    display: block;
    font:0/0 a;
    background: transparent;
}
/* search */
.middleHeader .siteSearch {
    margin-left:10px;
}
/* currency */
.middleHeader .currency {
    min-width: 55px;
}
/* language */
.middleHeader .language {
    min-width: 65px;
}
/* mainNav */
.mainNav {
    background:#e7e7e7 url(img/nav-bg.png) 0 0 repeat-x;
    min-height:42px;
}



/*==================== cart-content ================*/
.cart-content {
    margin:0;
    padding:0;
    min-width: 320px;
}
/*table-cart*/
.cart-content .table-cart {
    width:100%;
}
/* tr */
.cart-content .table-cart tbody tr {
    border-bottom:1px solid #dcdcdc;
}
/* td */
.cart-content .table-cart td {
    margin:0;
    padding:12px 6px;
    vertical-align: top;
}
/* cart-product-info */
.cart-content .table-cart .cart-product-info {
    text-align: left;
}
.cart-content .table-cart .cart-product-info img {
    float: left;
    margin-right:8px;
    padding: 4px;
    background-color:#fff;
    border: 1px solid #e0e0e0;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.cart-content .table-cart td img:hover {
    border:1px solid #aaa;
}
/*cart-product-desc*/
.cart-content .table-cart .cart-product-desc {
    width:200px;
}
.cart-content .table-cart td.cart-product-info p {
    margin-bottom:5px;
}
.cart-content .table-cart td.cart-product-info p a {
    white-space:pre-line;
    font-weight: 600;
    line-height: 18px;
}
.cart-content .table-cart td.cart-product-info .unstyled,
.cart-content .table-cart td.cart-product-info .unstyled li {
    margin:0;
    padding:0;
    color:#888;
}
/*cart-product-setting*/
.cart-content .table-cart td.cart-product-setting {
    text-align: right;
}
.cart-content .table-cart td.cart-product-setting p {
    margin-bottom:3px;
}
.cart-content .table-cart td.cart-product-setting a.remove-pro {
    font-size: 18px;
    color:#555;
    line-height: auto;
}
.cart-content .table-cart td.cart-product-setting a.remove-pro:hover {
    text-decoration: none;
}
/*============================= end header styling =======================*/




/*# 4- footer styling 
==============================================================================*/
footer {margin:62px 0 0 0;}
.footerOuter {
    padding:18px 0;
    /* margin-bottom:12px;*/
    background:#e7e7e7;
    border-top:1px dotted #b4b4b4;
    border-bottom:1px dotted #b4b4b4;
}
footer .container .row .span12{ margin-top:12px !important;}
/*===== footer title header h3 =========*/
footer .titleHeader {
    background: url('../img/dottedBorder.png') repeat-x 50% 70%;
    margin:0;
}
footer .titleHeader h3 {
    float:left;
    background:#e7e7e7;
    padding-right:8px;
}
footer .titleHeader .pagers {
    float:right;
    background:#e7e7e7;
    padding-left:8px;
}

/* usefullLinks */
footer .usefullLinks .unstyled {
    margin-top:14px;
}
footer .usefullLinks .unstyled li {
    border-bottom:1px dotted #b4b4b4;
}
footer .usefullLinks .unstyled li:last-child {
    border-bottom:none;
}
footer .usefullLinks .unstyled li a {
    padding:6px 0;
    display: block;
    font-weight: 600;
}
footer .usefullLinks .unstyled li a:hover,
footer .usefullLinks .unstyled li a:active {
    background:#e0e0e0;
}
footer .usefullLinks .unstyled li i {
    font-size: 18px;
}

/* contactInfo */
footer .contactInfo {
    margin-top:14px;
}
footer .contactInfo ul li {
    border-bottom:1px dotted #b4b4b4;
    padding:7px 0;
    display:block;
}
footer .contactInfo ul li:hover,
footer .contactInfo ul li:active {
    background:#e0e0e0;
}
footer .contactInfo ul li:last-child {
    border-bottom:none;
}
footer .contactInfo ul li button {
    height:30px;
    width:30px;
    padding:0;
    margin-right:5px;
    text-align: center;
    -webkit-border-radius: 5000px;
    -moz-border-radius: 500px;
    border-radius: 5000px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
footer .contactInfo ul li button i {
    font-size: 16px;
}

/* newslatter */
footer .newslatter form {
    margin-top:24px;
}

/* payment */
footer .payments li {
    width:37px;
    height:26px;
    margin:0;
	float:left;
    display: inline-block;
	background: url('../img/payment.png') no-repeat;
}
footer .payments li.visia {
    background-position: 0 0;
}
footer .payments li.paypal {
    background-position: 0 -35px;
}
footer .payments li.electron {
    background-position: 0 -70px;
}
footer .payments li.discover {
    background-position: 0 -105px;
}
/*====================== end footer ====================*/



/*# 5- element styling
=============================================================================*/
/*===================== about us ======================*/
#aboutUs p {
    margin:24px 0 0 0;
    padding:0 10px 0 0;
    line-height: 24px;
}


/*============== .hProductItems ============*/
.hProductItems {
    list-style:none;
    *zoom: 1;
    margin:8px 0 0;/* 1-Aug-13 margin:0*/
    padding:0;
}
.hProductItems li {
    margin-top:6px;

}
/* img */
.hProductItems .thumbnail {
    display: block;
    padding: 2px;

    border: 1px solid #e0e0e0;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
#shopfine_featured .hProductItems .thumbnail {	position:relative; width:98%;}
#shopfine_featured .thumbnail .thumbnail-featured-ribbon-img{ 
    background: url('../image/ribbon.png') 0 0 no-repeat;
    height: 57px;
    right: -10px;
    position: absolute;
    top: 13%;
    width:134px;
    font-size:16px;
    color:#fff;
    padding-left:5px;
    line-height:38px;
    text-align:center;
    display:inline-block;

}
thumbnail-featured-ribbon-img img{ width:75%;}	
.hProductItems .thumbnail:hover {
    border: 1px solid #aaa;
}
.hProductItems .thumbnail img {
    min-width: 100%;
}
	a.thumb-info {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
a.thumb-info:hover span.top-count {
    opacity: 1;
	}
.image-desc span.top-count{
    bottom: 0;
    color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
	}
	a.thumb-info:hover span.top-count-action {
    right: 0;
    top: 0;
	}
a.thumb-info span.top-count-action {
    background-color: #009640;
}
a.thumb-info span.top-count-action {
    background: none repeat scroll 0 0 #009640;
    border-radius: 0 0 0 25px;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: -50px;
    text-align: center;
    top: -100px;
    transition: all 0.3s ease 0s;
    width: 50px;
}
li.image-desc{
	float: left;
	margin: 5% 2% 0;
	position: relative;
	width: 46%;
	}
li.image-desc img{ height:218px;}	
a.thumb-info:hover span.image-descall {
    opacity: 1;
	}
.image-desc span.image-descall{
	bottom: 0;
    color: #FFFFFF;
    height: 100%;
    left: -3px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
transition: all 0.2s ease 0s;
    width: 100%;
	}
	a.thumb-info:hover span.image-action {
    bottom: 0px;
    left: 2px;
	right:0px;
	}
a.thumb-info span.image-action{
	   background-color: #009640;}	
a.thumb-info span.image-action{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.21) 1%, rgba(0, 0, 0, 0.21) 100%) repeat scroll 0 0 transparent;
	bottom: -160px;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 0px;
	padding: 6% 9% 6% 29%;
	height: 21%;
	position: absolute;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease 0s;
	width: 65%;
	font-family: droid_sansregular;
	}	
	
.image-desc span.image-name{
    bottom: 21%;
    color: #FFFFFF;
    font-size: 18px;
    left: 0px;
    letter-spacing: 0px;
    padding: 9px 16px 9px 11px;
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: 1;
	border-right:1px solid #000;
	 font-family: droid_sansregular;
	background: #251c1d; /* Old browsers */
background: -moz-linear-gradient(top,  #251c1d 7%, #362e2f 50%, #362e2f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#251c1d), color-stop(50%,#362e2f), color-stop(100%,#362e2f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #251c1d 7%,#362e2f 50%,#362e2f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #251c1d 7%,#362e2f 50%,#362e2f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #251c1d 7%,#362e2f 50%,#362e2f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #251c1d 7%,#362e2f 50%,#362e2f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#251c1d', endColorstr='#362e2f',GradientType=0 ); /* IE6-9 */


	}

/* thumbSetting */
.hProductItems .thumbSetting {
    padding-left:0;
    padding-right:0;
}
.hProductItems .thumbSetting div {
    margin-top:12px;
}
/* title */
.hProductItems .thumbSetting .thumbTitle a {
 /*   color: #000000;
    font-family: Helvetica LT,Arial,Helvetica,sans-serif,Candara;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;*/
	      color: #000000;
    display: block;
    font-family: Helvetica LT,Arial,Helvetica,sans-serif,Candara;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 214px !important;
    word-wrap: break-word;
}
/* price */
.hProductItems .thumbSetting .thumbPrice {
    display: block;
    background: url('../img/dottedBorder.png') repeat-x 50% 70%;
}
.hProductItems .thumbSetting .thumbPrice span {
    background:#fff;
    font-size: 17px;
    color:#666;
    padding-right:8px;
}
.hProductItems .thumbSetting .thumbPrice span .strike-through {
    color:#888;
    text-decoration: line-through;
}
/* bttons */
.hProductItems .thumbSetting .thumbButtons {
    margin:10px 0 0 0;
    float:left;
}
.hProductItems .thumbSetting .thumbButtons .btn {
    line-height:24px;
    font-size: 12px
}
/* rating */
.hProductItems .thumbSetting .rating {
    float:right;
    list-style: none;
    margin:16px 0 0 0;
    padding:0;
}
.hProductItems .thumbSetting .rating li {
    margin:0;
    padding:0;
    float: left;
}
.hProductItems .thumbSetting .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.hProductItems .thumbSetting .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}


/*============== .hProductItems ============*/
.listProductItems {
    list-style:none;
    *zoom: 1;
    margin:0;
    padding:0;
    width:100%;
}
.listProductItems li {
    margin-top:36px;
}
/* img */
.listProductItems .thumbnail {
    display: block;
    padding: 4px;
    border: 1px solid #e0e0e0;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.listProductItems .thumbnail:hover {
    border: 1px solid #aaa;
}
.listProductItems .thumbnail img {
    width: 100%;
}
/* thumbSetting */
.listProductItems .thumbSetting > div {
    margin:0;
    padding:12px 0;
    border-bottom: 1px dotted #ccc;
}
.listProductItems .thumbSetting div:first-child {
    padding-top:0;
}
.listProductItems .thumbSetting div:last-child {
    border:none;
}
/* title */
.listProductItems .thumbSetting .thumbTitle a {
    line-height:20px;
    font-family: 'Sanchez', serif;
    font-size: 14px;
    font-weight: normal;
}
/* price */
.listProductItems .thumbSetting .thumbPriceRate {
    display: block;
}
.listProductItems .thumbSetting .thumbPriceRate span {
    float: left;
    background:#fff;
    font-weight: 700;
    font-size: 18px;
    color:#666;
    padding-right:8px;
}
.listProductItems .thumbSetting .thumbPriceRate span .strike-through {
    color:#f16325;
    text-decoration: line-through;
}
/* rating */
.listProductItems .thumbSetting .thumbPriceRate .rating {
    float:left;
    list-style: none;
    margin:0 12px 0;
    padding:0;
}
.listProductItems .thumbSetting .thumbPriceRate .rating li {
    margin:0;
    padding:0;
    float: left;
}
.listProductItems .thumbSetting .thumbPriceRate .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.listProductItems .thumbSetting .thumbPriceRate .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}
.listProductItems .thumbSetting p {
    margin:0;
    padding:0;
}
/* bttons */
.listProductItems .thumbSetting .thumbButtons {
    margin:0;
    float:left;
}
.listProductItems .thumbSetting .thumbButtons .btn {
    line-height:24px;
    font-size: 12px
}




/*============== .vProductItems ============*/
.vProductItems {
    *zoom: 1;
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}
.vProductItems li {
    margin:36px 0 0 0;
    padding:0;
    overflow: hidden;
}
.vProductItems .thumbImage {
    float:left;
    margin-right:6px;
    padding: 4px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vProductItems .thumbImage:hover {
    border: 1px solid #aaa;
}
.vProductItems .thumbImage img {
    min-width: 100%;
}
/* thumbSetting */
.vProductItems .thumbSetting {
    width:60%;
    float:left;
}
.vProductItems .thumbSetting div {
    margin-bottom:10px;
}
.vProductItems .thumbSetting div:last-child {
    margin-bottom:0;
}
.vProductItems .thumbSetting .thumbTitle a {
    line-height:20px;
    font-weight: 600;
}
.vProductItems .thumbSetting .thumbPrice {
    display: block;
    background: url('../img/dottedBorder.png') repeat-x 50% 70%;
}
.vProductItems .thumbSetting .thumbPrice span {
    background:#fff;
    font-weight: 700;
    font-size: 14px;
    color:#666;
    padding-right:8px;
}
/* rating */
.vProductItems .thumbSetting .rating {
    list-style: none;
    margin:0;
    padding:0;
}
.vProductItems .thumbSetting .rating li {
    margin:0;
    padding:0;
    float: left;
}
.vProductItems .thumbSetting .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.vProductItems .thumbSetting .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}



/*============== .vProductItems ============*/
.special {
    margin-top:60px;
}
.vProductItemsTiny {
    *zoom: 1;
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}
.vProductItemsTiny li {
    margin:24px 0 0 0;
    padding:0;
}
.vProductItemsTiny .thumbImage {
    float:left;
    margin-right:6px;
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vProductItemsTiny .thumbImage:hover {
    border: 1px solid #aaa;
}
.vProductItemsTiny .thumbImage img {
    width: 100%;
}
/* thumbSetting */
.vProductItemsTiny .thumbSetting {
    width:40%;
    float:left;
    word-spacing: pre-line;
}
.vProductItemsTiny .thumbSetting div {
    margin-bottom:10px;
    word-spacing: pre-line;
}
.vProductItemsTiny .thumbSetting div:last-child {
    margin-bottom:0;
}
.vProductItemsTiny .thumbSetting .thumbTitle a {
    line-height:20px;
    font-weight: 600;
    word-spacing: pre-line;
}
.vProductItemsTiny .thumbSetting .thumbPrice {
    display: block;
    background: url('../img/dottedBorder.png') repeat-x 50% 70%;
}
.vProductItemsTiny .thumbSetting .thumbPrice span {
    background:#fff;
    font-weight: 700;
    font-size: 14px;
    color:#666;
    padding-right:8px;
}
/* rating */
.vProductItemsTiny .thumbSetting .rating {
    list-style: none;
    margin:0;
    padding:0;
}
.vProductItemsTiny .thumbSetting .rating li {
    margin:0;
    padding:0;
    float: left;
}
.vProductItemsTiny .thumbSetting .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.vProductItemsTiny .thumbSetting .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}



/*===================== product-details ===================*/

.product-details .product-title {
    margin-bottom:12px;
}
.product-title h1{ 
    font-family:Arial, Helvetica, sans-serif, Candara;
    font-size:28px;
    color:#000;
    text-transform:none;
    font-weight:bold;
}
.product-set > div {
    padding:10px 0;
    background: url('../img/dottedBorder.png') repeat-x left bottom;
}
.product-set .product-price span {
    background:#fff;
    /* 6-aug-13 font-weight: 700;
      font-size: 22px;
      color:#666;*/
    padding-right:8px;
    font-size:28px;
    font-family:Arial, Helvetica, sans-serif, Candara;
    color:#000;
    font-weight:bold;
}
.product-set .product-price  .strike-through {
    color:#888;
    text-decoration: line-through;
}
.product-rate .strike-through {
    color:#888;
    text-decoration: line-through;
}
.product-rate h4 {
    font-family:Arial, Helvetica, sans-serif, Candara;
    font-size:20px;
    font-weight:bold;
}
.product-rate h5 {
    font-size:14px;
    font-style:italic;
    font-family:'HelveticaLT-Light', Arial, Helvetica, sans-serif, Candara;
}
.product-set .product-rate h5 span { margin-left:0;}	
.des p{
    font-family:Arial, Helvetica, sans-serif, Candara;
    font-size:14px;
    color:#000;
}
/* rating */
.product-set .product-rate span {
    margin-left:10px;
}
.product-set .product-rate .rating {
    list-style: none;
    margin:0;
    padding:0;
}
.product-set .product-rate .rating li {
    margin:0;
    padding:0;
    float: left;
}
.product-set .product-rate .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.product-set .product-rate .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}
/* product-info*/

.product-set .product-info {
    background: none !important;
}

.product-set .product-info .dl-horizontal {
    margin:0;
    padding:0;
}
.product-set .product-info .dl-horizontal dt {
    width:auto;
    clear:both;
    float:left;
}
.product-set .product-info .dl-horizontal dd {
    float: left;
    margin:2px 0 0 15px;
    min-height: 20px;
    white-space: normal;

}
/* Product-Info dt/dd Starts */

.product-set .product_info_prod_details .dl-horizontal {
    margin:0;
    padding:0;
}
.product-set .product_info_prod_details .dl-horizontal dt {
    width:auto;
    font-size:13px;
    font-family: 'HelveticaLT-Light',Arial,Helvetica,sans-serif,Candara;
    font-weight:normal;
    color:#404040;
    width: 108px;
    text-align:left;
    line-height:30px;
    clear:both;
    float:left;
}
.product-set .product_info_prod_details .dl-horizontal dd {
    color: #404040;
    float: left;
    font-family: 'HelveticaLT-Light',Arial,Helvetica,sans-serif,Candara;
    font-size: 13px;
    font-weight: normal;
    margin-left: 0px;
    min-height: 20px;
    white-space: normal;
    width: 172px;
    /* word-wrap: break-word;*/
    line-height:24px;
}

.product-set .product_info_prod_details .dl-horizontal dd img{
    height: 33px;
    width: 33px;
}


/* Product-Info dt/dd Ends */
/* table-product-inputs Starts */
#option-250 b{ font-size:14px; font-family:'HelveticaLT-bold',Arial,Helvetica,sans-serif,Candara; font-weight:normal;}
.table-product-inputs input[type="radio"]{
    margin-top: 1px;
    vertical-align: top;
}
.table-product-inputs label{
    margin-left: 7px;
    margin-top: 0;
    vertical-align: top;
    min-width: 50px;
    font-size:13px;
    font-family:'HelveticaLT-Light',Arial,Helvetica,sans-serif,Candara;
}	
/* table-product-inputs Ends */
.product-set .kluer_img{ 
    width:25px;
    margin-top:8px;
    background:red url(../image/kluer-img.png) 0 0 no-repeat;
    width:46px;
    height:34px;
}

/* product-inputs */
.product-set .product-inputs {
    padding:6px 0 0 !important;
    background: url("../img/dottedBorder.png") repeat-x scroll left top transparent;
}
.product-set .product-inputs b{
    color: #00AA3B;
}
.product-set .product-inputs .controls-row {
    background:none;
    padding:0;
}
.product-set .product-inputs .input-append {
    background:none;
}





/*================== product-details ===================*/
.product-details .product-img {
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.product-details .product-img:hover {
    border: 1px solid #aaa;
}

.product-details .product-img-thumb img {
    margin:8px 3px 0 3px;
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width:72px;
    height:65px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.product-details .product-img-thumb img:hover {
    border: 1px solid #aaa;
}




/*========================= product-tab ==================*/
.product-tab {
    clear:both;
    margin-top:82px;
}
/* review */
.product-tab #review .single-review {
    padding-bottom:14px;
    margin-bottom:14px;
    background:url('../img/dottedBorder.png') repeat-x left bottom;
}
.product-tab #review .single-review:last-child {
    padding-bottom:none;
    margin-bottom:none;
    background-image:none;
}
.product-tab #review .single-review .review-header {
    margin-bottom:8px;
}
/* rating */
.product-tab #review .single-review .rating {
    float:right;
    list-style: none;
    margin:0;
    padding:0;
}
.product-tab #review .single-review .rating li {
    margin:0;
    padding:0;
    float: left;
}
.product-tab #review .single-review .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.product-tab #review .single-review .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}



/*================== related-product ===============*/
.related-product {
    margin-top:60px;
}
.related-product .hProductItems {
    margin: 40px 0 0;
}


/*================= aside-inner ================*/
.aside-inner {
    margin-top:-60px;
}


/*===================== brandList =================*/
.brandList {
    border:1px solid #e0e0e0;
    margin:30px 0 0 0;
    padding:0;
    list-style: none;
}
.brandList li {
    height:90px;
    border-right:1px solid #e0e0e0;
    margin:0;
    float:left;
    width: 233px;
    text-align: center;
    border-right:1px solid #e0e0e0;
}
.brandList li:last-child {
    border:none;
}
.brandList li a {
    display: block;
    width:100%;
    line-height:90px;
}
.brandList li img {
    margin:0 auto;

}



/*======================= pro-range-slider =======================*/
.pro-range-slider {
    margin-top:54px;
}
.pro-range-slider .price-range {
    margin-top:24px;
}
.pro-range-slider .price-range p {
    margin:0 0 5px 0;
}
.pro-range-slider .price-range label {
    float:left;
    cursor:default; 
}
.pro-range-slider .price-range input {
    float:left;
    width:80px;
    height:auto;
    padding:0;
    margin:0 0 0 8px;
    color:#666;
    font-weight:600;
    border:0;
    font-size: 12px;
}
.pro-range-slider .price-range input:focus {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.pro-range-slider .ui-slider {
    margin:0;
    height:8px;
    background:#ddd;
    border:1px solid #c5c5c5;
}
.pro-range-slider .ui-widget-header {
    background-image: none;
    background-color: #666;
}
.pro-range-slider .ui-state-default,
.pro-range-slider .ui-widget-content .ui-state-default,
.pro-range-slider .ui-widget-header .ui-state-default{
    background-image: none;
    background-color:#c2c2c2;
    border-radius: 40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    -webkit-box-shadow:inset 0 1px 3px #9f9f9f;
    outline: none;
    border:none;
}




/*===================== productFilter ===================*/
.productFilter {
    margin:36px 0 0 0;
    padding: 5px 10px;
    background:#f0f0f0;
    border-top:1px dotted #b6b6b6;
    border-bottom:1px dotted #b6b6b6;
}
.productFilter div {
    margin:0 12px 0 0;
    padding:0;
}
.productFilter div:last-child {
    margin-right:0;
}
.productFilter select {
    width:auto;
    height:auto;
    margin:0 0 0 2px;
}



/*===================== blog-article =================*/
.blog-article {
    padding-bottom:36px;
    margin-bottom:36px;
    background:url('../img/dottedBorder.png') repeat-x left bottom;
}
.blog-article:last-child {
    padding-bottom:0;
    margin-bottom:0;
    background:none;
}
/* blog img */
.blog-article .blog-img img {
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.blog-article .blog-img img:hover {
    border: 1px solid #aaa;
}
/* blog content */
.blog-article .blog-content div {
    padding:8px 0;
    background:url('../img/dottedBorder.png') repeat-x left bottom;
}
/* title */
.blog-article .blog-content .blog-content-title h2 {
    text-transform:none;
    font-size: 17px;
}
/* entry */
.blog-article .blog-content .blog-content-entry {
    background:none; 
}
.blog-article .blog-content .blog-content-entry p {
    margin:0 0 12px 0;
    padding:0;
    line-height: 24px;
}
/* date */
.blog-article .blog-content .blog-content-date li {
    margin-right:10px;
}


/*================= about-author ================*/
.about-author img {
    margin-right:12px;
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.about-author img:hover {
    border: 1px solid #aaa;
}

/*======================== user-comments ===================*/
.user-comments {
    margin-top:60px;
}
.user-comments .media-list {
    margin-top:24px;
}

/*======================= make-comment ==================*/
.make-comment {
    margin-top:60px;
}
.make-comment form {
    margin-top:24px;
}
.make-comment form textarea {
    height:100px;
}


/*================ blog-tab ===============*/
.blog-tab {
    margin-top:60px;
}
/* tab links */
.blog-tab .nav-tabs > li > a  {
    line-height:10px;
}
.blog-tab .nav-tabs > li > a  {
    line-height:14px;
    font-size: 14px;
}

/*================== blog-category ===============*/
.blog-category {
    margin-top:60px;
}

/*================= blog-adds ==================*/
.blog-adds {
    margin-top:60px;
}
.blog-adds img {
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.blog-adds img:hover {
    border: 1px solid #aaa;
}


/*================= blog-twitter ===================*/
.blog-twitter {
    margin-top:60px;
}


/*=========================== table-compare ===================*/

.table-compare th,
.table-compare td{
    margin:0;
    padding:12px 14px;
}
.table-compare td {
    border-left:1px dotted #d2d2d2;
}
.table-compare tr:last-child td  {
    background-image:none;
    /*background:none;*/
}
.table-compare td.aligned-color {
    background-color:#f1f1f1;
    text-align: right;
    border-left:none;
}
/* price */
.table-compare td.price {
    font-weight: 700;
    font-size: 14px;
    color:#666;
}
.table-compare td.price .strike-through {
    color:#f16325;
    text-decoration: line-through;
    margin-right:3px;
}
/* rate */
.table-compare td .rating {
    list-style: none;
    margin:0;
    padding:0;
}
.table-compare td .rating li {
    margin:0 -2px;
    padding:0;
    display: inline-block;
}
.table-compare td .rating i.star-on {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-on.png') no-repeat left top;
}
.table-compare td .rating i.star-off {
    width:17px;
    height:17px;
    display: block;
    background:url('../img/star-off.png') no-repeat left top;
}


/*==================== my-account ===================*/
.my-account {
    margin-top:24px;
    list-style: none;
}
.my-account li {
    border-bottom:1px dotted #d6d6d6;
}
.my-account li a {
    font-weight: 600;
    padding:6px 0 6px 6px;
    display: block;
}
.my-account li a:hover {
    background-color:#f0f0f0;
}
.my-account li a:active {
    background-color:#e7e7e7;
}
.my-account li a.active {
    color:#f16325;
    cursor: default;
}


/*================= categories ================*/
.categories ul.unstyled {
    margin-top:24px;
    font-family:helveticaLT-Bold;
}
.categories ul.unstyled li .submenu li{
    border-bottom:1px dotted #d6d6d6;
}

.categories ul.unstyled li .submenu li:last-child {
    border:none;
}
.categories ul.unstyled li a {
    padding:0px 0 6px 25px;
    display: block;
    font-size:14px;
    margin-bottom:20px;
}
.categories ul.unstyled li a:hover{
    background-color:#f0f0f0;
}
.categories ul.unstyled li a:active {
    background-color:#e7e7e7;
}
.categories ul.unstyled li a:hover.active {
    background: none;
}
/* submenu */
.categories ul.unstyled ul.submenu {
    padding:12px;
    margin:0 0 6px 0;
    list-style-type:square;
    background-color: #f0f0f0;
    border:1px solid #e7e7e7;
}
.categories ul.unstyled ul.submenu li {
    margin:0 0 0 18px;
    padding:0;
}
.categories ul.unstyled ul.submenu li a {
    padding:4px 0;
    font-weight: 400;
    font-size: 11px;
}
.categories ul.unstyled ul.submenu li a.active:hover {
    background-color: none;
}


/*========================= checkout-outer ======================*/
.checkout-outer {
    margin-bottom:6px;
    border:1px solid #e0e0e0;
}
.checkout-outer hr {
    padding:0;
    border:0;
    height:1px;
    margin:18px 0;
    background:url('../img/dottedBorder.png') repeat-x left top; 
}
/* checkout-header */
.checkout-outer .checkout-header {
    padding:6px 0 6px 14px;
    border-bottom:1px solid #e0e0e0;
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e9e9e9));
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#e9e9e9 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%,#e9e9e9 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%,#e9e9e9 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e9e9e9',GradientType=0 );
}
/* checkout-content */
.checkout-outer .checkout-content {
    padding:18px 18px 38px;
}
.highlight td input{
	margin-bottom: 10px;
	margin-left:-15px !important;
	}
.right input[type="checkbox"]{
	margin-top:0px !important;}	
/*.checkout-content .radio{ margin-left:5px;}	*/

/*================= twitter ===================*/
.tweet ul {
    margin:0 0 0 0;
    padding:0;
    list-style: none;
}
.tweet ul li {
    margin:24px 0 0 0;
    padding:0 0 0 36px;
    background:url('../img/tweetIcon.png') no-repeat left 5px;
}

/*================= table-receipt =================*/
.table-receipt {
    margin:60px 0 0 0;
}
.table-receipt td {
    padding:8px 0;
}
.table-receipt td.alignRight {
    text-align: right;
    padding-right:12px;
}
.table-receipt td.alignLeft {
    text-align: left;
    padding-left:12px;
}

/*=================== account-list-outer ==================*/
.account-list {
    margin:24px 0;
    padding:0;
    border:1px solid #e2e2e2;
    background:#f3f3f3;
    list-style: none;
}
.account-list li {
    margin:0;
    padding:0;
}
.account-list li a {
    padding:7px 18px;
    display: block;
    border-bottom:1px dotted #d7d7d7;
}
.account-list li:last-child a {
    border:none;
}
.account-list li a:hover,
.account-list li a:active {
    background-color:#efefef;
}

.account-list-outer form {
    margin:24px 0 0;
    padding:18px;
    border:1px solid #e2e2e2;
    background:#f3f3f3;
}

/*===================== register =====================*/
.register .form-horizontal {
    margin-top:24px;
    padding:0 0 12px;
    border:1px solid #e0e0e0;
    border-top:none;
}
.register .form-horizontal h4 {
    padding: 6px 0;
    margin-bottom: 14px;
    color: #404040;
    background-color:#f0f0f0;
    border: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Sanchez', serif;
    font-size:14px;
    text-transform: capitalize;
    line-height:22px;
}
.register .form-horizontal hr {
    padding:0;
    border:0;
    height:1px;
    margin:30px 0 18px;
    background:url('../img/dottedBorder.png') repeat-x left top; 
}

/*=================== login =================*/
.login {
    border:1px solid #e0e0e0;
}
.login table td {
    padding:24px;
    width: 50%;
}
.login table td {
    border-right:1px solid #e0e0e0;
    vertical-align: top;
}
.login table td h3 {
    margin-bottom:14px;
}
.login table td p {
    margin-bottom:18px;
}

/*====================== contact info ================*/
.contact-info address {
    margin:18px 0;
    padding-bottom:24px;
    background:url('../img/dottedBorder.png') repeat-x left bottom;
}
.contact-info address h3 {
    margin-bottom:8px;
}
.contact-info address h4 {
    margin-bottom:6px;
}

/*===================== google-map ===============*/
.google-map {
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background-color:#fff;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.google-map iframe {
    border:none;
    margin:0;
    padding:0;
}

/*=================== contact-us-form =================*/
.contact-us-form {
    margin-top:60px;
}
.contact-us-form form {
    margin-top:24px;
}
.contact-us-form form textarea {
    height:120px;
}

/*====================== search ================*/
.search form {
    margin-top:24px;
}



/*# 6- side panel styling
============================================================================*/
/*=========== switcher ===========*/
.switcher {
    position:fixed;
    top:60px;
    left:-170px;/*left:-166px;*/
    z-index:999999;
}
.switcher h3 {
    width:140px;
    padding:0 15px;
    height:30px;
    line-height:30px;
    background:#555;
    color:#fff;
}
/* the ancher link */
a.Widget-toggle-link {
    position: absolute;
    top:0;
    right:-27px;
    text-align: center;
    line-height:26px;
    height:30px;
    width:30px;
    display: block;
    color:#fff;
    font-size: 16px;
    font-weight:600;
    cursor:pointer;
    background:#555;
    -webkit-border-radius:0 6px 6px 0;
    -moz-border-radius:0 6px 6px 0;
    border-radius:0 4px 4px 0;
}
a.Widget-toggle-link:hover {
    text-decoration:none;
    color:#fff;
}

/* switcher-content */
.switcher-content {
    position:relative;
    width:140px;
    background:#fefefe;
    padding:14px;
    border:1px solid #e7e7e7;
    -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
    box-shadow:0 0 4px 0 rgba(0,0,0,0.2);
}
.switcher-content h4 {
    margin-bottom:12px;
}
/* layout-switch */
.switcher-content .layout-switch {
    margin-bottom:24px;
}
/* color-switch */
.switcher-content .color-switch {
    margin-bottom:18px;
}
.switcher-content .color-switch .color-switch-link {
    width:22px;
    height:22px;
    font:0/0 a;
    display: block;
    float:left;
    margin:0 6px 6px 0;
    cursor:pointer;
    background-color:transparent;
}
.switcher-content .color-switch .color-switch-link:last-child {
    margin-right:0;
}
.switcher-content .color-switch .color-switch-link.active {
    cursor:default;
}
.switcher-content .color-switch .color-switch-link#orange-color {
    background-color:#f16325;
}
.switcher-content .color-switch .color-switch-link#blue-color {
    background-color:#206EA3;
}
.switcher-content .color-switch .color-switch-link#green-color {
    background-color:#009640;
}
.switcher-content .color-switch .color-switch-link#brown-color {
    background-color:#5d514b;
}
.switcher-content .color-switch .color-switch-link#red-color {
    background-color:#e81863;
}
/* pattern-switch */
.switcher-content .pattern-switch a {
    font:0/0 a;
    width:22px;
    height:22px;
    display:block;
    float:left;
    margin:0 6px 6px 0;
    cursor:pointer;
}
.switcher-content .pattern-switch a:hover {
    opacity: .7;
    -moz-opacity: .7;
    filter:alpha(opacity=70);  
}




/*# 7- Media qauery styling for this file
=================================================================================*/
@media (max-width: 979px) {
}

@media (min-width: 768px) and (max-width: 979px) {

    /*vProductItems & vProductItemsTiny*/
    .vProductItems li .thumbImage,
    .vProductItemsTiny li .thumbImage {
        width:70px;
    }

    /*brandList*/
    .brandList li {
        width:170px;
    }

    /*footer*/
    footer .contactInfo button {
        display:none;
    }
}

@media (max-width: 767px) {
    /*body*/
    body {
        padding:0 20px;
        background:#fff !important;
    }
    #mainContainer {
        -webkit-box-shadow:none !important;
        -moz-box-shadow:none !important;
        box-shadow:none !important;
    }

    /*upperHeader*/
    .upperHeader select.upper-nav {
        display: block;
        margin-top:-23px;
        margin:5px auto 10px;
    }
    .upperHeader p {
        text-align:center;
    }
    .upperHeader .inline {
        display: none;
        margin:0 auto;
    }

    /* middleHeader */
    .middleHeader .middleContainer {
        padding:0;
        background-position:50% 50%;
    }
    .middleHeader .siteLogo {
        float:none;
        margin:10px 0;
    }
    .middleHeader .siteLogo h1 a {
        margin:0 auto;
    }
    .middleHeader .pull-right {
        float:none;
        padding:4px 0;
        border-top:1px solid #e0e0e0;
        border-bottom:1px solid #e0e0e0;
        margin:0 auto 10px;
        text-align: center;
        background:#eee;
    }
    .middleHeader .pull-right form {
        margin: 0;
    }
    /* cat-content */
    .middleHeader .pull-right.cart-content {
        right:-80%;
    }

    /*brandList*/
    .brandList li {
        width:160px;
    }

    /*account-list-outer*/
    .account-list-outer {
        margin-bottom:42px;
    }

    /*blog-search*/
    .blog-search {
        clear:both;
        margin-top:42px;
    }

    /*. table */
    .table {
        margin-bottom:24px; 
    }
    .table tr {
        width:100%;
    }
    .table tr td, .table tr th {
        display: list-item;
        list-style: none;
        padding-left:20px;
        padding-right:20px;
        width:260px !important;
        text-align:center !important; 
        float: none !important;
    }

    #productSlider {
        display: none;
    }

    /*product-aside*/
    #product-aside {
        display: none;
    }

}

@media (max-width: 480px) {

    /*brandList*/
    .brandList li {
        display: block;
        border-right:0;
        float: none;
        text-align: center;
    }
    .brandList li a {
        margin:0 auto;
        text-align: center;
    }

    /*product-details*/


    .product-details .product-inputs form .input-append .span1 {
        width:60px;
    }

    /*product-tab*/
    .product-tab .nav-tabs > li {
        margin-right:1px;
    }
    .product-tab .nav-tabs > li > a {
        padding-left:6px;
        padding-right:6px;
    }
    .product-tab .nav-tabs > li.dropdown > .dropdown-menu {
        left:-100% !important;
    }

    /* checkout */
    .checkout-content .login,
    .login {
        border:none !important;
    }
    .checkout-content table td,
    .login table td {
        padding:14px 0;
        display: block;
        text-align: center;
        border:none;
        width:90%;
        border-bottom:1px solid #e0e0e0;
    }
    .checkout-content table td:last-child,
    .login table td:last-child {
        border-bottom:none;
    }

    /* form-horizontal */
    form.form-horizontal .control-label{
        display: block;
        width: auto;
        float: none;
        margin-left:14px;
    }
    form.form-horizontal .controls{
        margin-left:14px;
        float: left;
    }
li.image-desc{ width:100%;}
}



#back-top{
    cursor: pointer;
    right:10px;
    position: fixed;
    bottom:20px;
    z-index: 1;
}
.goTop a {
    background: url("images/backTop.png") no-repeat scroll left bottom #009640;
    float: left;
    font-size: 0;
    height: 39px;
    width: 39px;
}
.goTop a:hover{background-position:left top;}

.warning {
    background: url("../image/warning.png") no-repeat scroll 10px center rgb(255, 209, 209);
    border: 1px solid rgb(248, 172, 172);
    border-radius: 5px 5px 5px 5px;
}
/* Footer part starts */

#aboutUs h2{
    font-size:19px;
    color:#000;
    font-weight:bold;
    text-transform:none;
    margin:0 0 20px;
    font-family:Helvetica LT,Arial,Helvetica,sans-serif,Candara;
}
#aboutUs p.text{
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    margin: 22px 0 0;
    padding: 0 5px 0 0;
    text-align:justify;
    font-family:Helvetica LT,Arial,Helvetica,sans-serif,Candara;

}	
#aboutUs .span4{ width:292px; margin-left:3.37%;}
#aboutUs .span4:first-child{ margin-left:2%; width:292px;}
.titleHeader h2{
    font-size:20px;
    color:#000;
    font-weight:bold;
    text-transform:none;
    margin:30px 0 8px; /*1-aug-13 margin:30px 0 5px;*/
}	
.titleHeader h3{ 
    background-color:#fff; 
    display:inline-block; 
    padding-right:10px;
}
.category-info p{	
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    margin: 15px 0 0;
    padding: 0 5px 0 0;
    text-align:justify;
} 
/* Footer part Ends */
.width-50{ width:50px;}
/* list display starts */
.product-list .left{

}
.product-list .left img{}

.product-list .right .image{
    margin-top:-50px;

}

.product-grid ul li{
    margin-left:10px
}

.product-filter{
    margin-top:55px;
}
.product-filter .limit{
    float: left;
    width: 270px;
}

.pagination ul{
    float: right;
}
/* Banner top Starts Here */
.banner{
    position:relative;
    margin-left:10px;
    margin-top:1.3px;
}
.banner .banner-bottom{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 1%, rgba(0,0,0,0.21) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.21)), color-stop(1%,rgba(0,0,0,0.21)), color-stop(100%,rgba(0,0,0,0.21)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0.21) 1%,rgba(0,0,0,0.21) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0.21) 1%,rgba(0,0,0,0.21) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0.21) 1%,rgba(0,0,0,0.21) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.21) 0%,rgba(0,0,0,0.21) 1%,rgba(0,0,0,0.21) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36000000', endColorstr='#36000000',GradientType=0 );
    width:99.8%;
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:2.7em;
    font-family:Helvetica LT,Arial,Helvetica,sans-serif,Candara;
    text-align:center;
    color:#fff;
    font-weight:bold;
    padding:2% 0;
    line-height:100%;	

}
/* Banner top Ends Here */
/* Banner bottom Starts Here */
#bannerHTML1{ margin-top:3%;}
#bannerHTML1 h1{   
    color: #00AE0C;
    font-size: 30px;
    min-height: 22px;
    padding: 5px;
    text-align: center;
    text-transform:none;
    line-height:25px;
    margin:0 0 2% 0;
    font-family:HelveticaLT-Bold, Arial, Helvetica, sans-serif, Candara;
}
/* Banner bottom Ends Here */
/* aboutus */
.row #aboutUs{ margin-top:40px;}

.product-details {
    margin-top: 20px;
}

.cart-content {
    margin: 0;
    min-width: 350px;
    padding: 0;
}
.cart-content .table-cart {
    width: 100%;
}
.cart-content .table-cart tbody tr {
    border-bottom: 1px solid #DCDCDC;
}
.cart-content .table-cart td {
    margin: 0;
    padding: 12px 6px;
    vertical-align: top;
}
.cart-content .table-cart .cart-product-info {
    text-align: left;
}
.cart-content .table-cart .cart-product-info img {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
    float: left;
    margin-right: 8px;
    padding: 4px;
}
.cart-content .table-cart td img:hover {
    border: 1px solid #AAAAAA;
}
.cart-content .table-cart .cart-product-desc {
    width: 200px;
}
.cart-content .table-cart td.cart-product-info p {
    margin-bottom: 5px;
}
.cart-content .table-cart td.cart-product-info p a {
    font-weight: 600;
    line-height: 18px;
    white-space: pre-line;
    font-size: 12px;
}
.cart-content .table-cart td.cart-product-info .unstyled, .cart-content .table-cart td.cart-product-info .unstyled li {
    color: #888888;
    margin: 0;
    padding: 0;
    font-size: 11px;
}
.cart-content .table-cart td.cart-product-setting {
    text-align: right;
}
.cart-content .table-cart td.cart-product-setting p {
    margin-bottom: 3px;
}
.cart-content .table-cart td.cart-product-setting a.remove-pro {
    color: #555555;
    font-size: 18px;
}
.cart-content .table-cart td.cart-product-setting a.remove-pro:hover {
    text-decoration: none;
}


/* Filter Options */
.text-filter-options{
    float: left;
    width:65%;
}
.text-filter-options:last-child{ margin-top:5px;}

.text-filter-options img{ 
    float: left;margin-right: 4px;height: 26px;
}

.text-filter-options .filter-options-info{
    background-color: #DDDDDD;
    color: #000000;
    float: left;
    margin: 1px;
    text-align: center;
    width:26px;
    height:26px;
    line-height:25px;
    cursor: default;
}
.text-filter-options .filter-options-info-selected{
    background-color: #00AA3B;
    color: #000000;
    float: left;
    margin: 1px;
    text-align: center;
    width:26px;
    height:26px;
    line-height:25px;
    cursor: default;
}



.html-filter-options{
    float: left;
    padding:0;
    margin-top: 10px;
}

.html-filter-options img{
    float: left;margin-right: 4px;
}

.html-filter-options .filter-options-info{
    background: url(../image/transparent-flr.png) 0 0 no-repeat;
    background-size: 100%;
    float: left;
    margin: 0 1px;
    width:25px;
    height:24px;
}
.content-filter-options{ margin-top:35px; width:79%; position:relative;}
.image-filter-options{
    background-color: #F0F0F0;
    float: left;
    margin-left: 1%;
    padding: 1px 10px 2px;
    width: 27%;
    position:absolute;
    top:0;
    right:0;
}
.image-filter-options span{
    color: #000000;
    display: inherit;
    font-size: 11px;
    font-weight: inherit;
    margin-bottom: 5px;
}
.image-filter-options img{
    width: 30px;
    height: 30px;
    margin-right: 15px
}

.dl-horizontal dd .filter-options-info{
    background: url(../image/transparent-flr.png) 0 0 no-repeat;
    background-size: 100%;
    float: left;
    margin: 0 1px;
    width:25px;
    height:25px;
}

/* General classes Starts */

/* General classes Ends */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .text-filter-options .filter-options-info { width: 21px;}
}



.category-list{
    background: none repeat scroll 0 0 #009640;
    margin: 0 -42px;
}

.category-list ul{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    min-width: 18%;
}

.category-list ul:first-child li{
    margin:  0 40px 0 95px;
}

.category-list ul li{
    text-align: left;
    padding: 2px;
    list-style: none;
    margin: 0 40px;
}

.category-list ul li a{
    color: #fff;
    font-family: helveticaLT;
    font-size: 13px;
}

.second-child{
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    display: none;
}

#overlay > img {
    left: 50%;
    position: absolute;
    top: 50%;
}
/* credit info */
.credit-option{
	float: left;
    width: 165px;
	color:#000;
	}
.credit-choice ul{ margin:0; padding:0;}
.credit-choice li {
    background: url("../img/credit-info.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 26px;
    margin: 0;
    width: 25px;
}
.credit-choice li.ms-card {
    background-position: 0 0;
}

.credit-choice li.visa-card {
    background-position: 0 -28px;
}
.credit-choice li.ae-card {
    background-position: 0 -55px;
}
.credit-detail{
	border-left:1px solid #e8e8e8;
	padding-left:7%;}
.credit-detail select{ width:49%;}	
.credit-detail .buttons{ margin-top:2%;}
.pay-pal-info{
	background: url("../img/paypal.png") no-repeat scroll 0 0 transparent;
	width:52px;
	height:32px;
	float:right;
	}
.pay-info{ 
	display: inline-block;
	line-height: 28px;
	vertical-align: middle;
	
	}	
.paypal-img{
	background: url("../img/paypal-img.png") no-repeat scroll 0 0 transparent;
	width:71px;
	height:26px;
	display:block;
	}
.sofort-img{
	background: url("../img/sofort.png") no-repeat scroll 0 0 transparent;
	width:71px;
	height:26px;
	display:block;
	}
  .ideal-img{
	background: url("../img/ideal.png") no-repeat scroll 0 0 transparent;
	width:71px;
	height:26px;
	display:block;
	}
.giro-img{
		background: url("../img/giro-pay.png") no-repeat scroll 0 0 transparent;
	width:71px;
	height:26px;
	display:block;
	}	
#paypal_pro_radio{ margin-top:6px;}	
.product-details.mar-top0{margin-top:0px !important;}
.span6 .pad-left20{padding-left:20px;}
.product-details.mar-top0 .content-filter-options{width:100%; margin-top:20px;}
.product-details.mar-top0 .content-filter-options .text-filter-options{width:100%;}